/*  Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
body {
  /*M4LO2 Demonstrate the use of background images (CSS)
  M4LO4 Demonstrate the use of gradients (CSS)
  */
   
  background-image:
  linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(255, 255, 255, 0.5)),
  url('card back.jpg');
 
  }
  

  h1 {
  color: #180db4; 
  font-family: 'Raleway',sans-serif; 
  font-size: 62px; font-weight: 800; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; text-transform: uppercase; 
  /*M4LO5 Demonstrate the use of text or box shadowing (CSS, note one of these two in your CSS and explain its impact on the HTML)
  Used in this case to give the title part more impact.*/
  text-shadow: 2px 2px #000000;}
  h2 {
    color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 0 0 24px; 
    text-align: center; }
    h4 {
      color: #000000; 
      font-family: 'Raleway',sans-serif; 
      font-size: 30px; 
      font-weight: 800; 
      line-height: 36px; 
      margin: 0 0 24px; 
      text-align: left; }
  

  footer {
    font-size: 10px;
  }

  p { color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
    text-align: center; }
  #one{
    text-align:left
  }

.navbar {

  overflow: hidden;
    /* M4LO3 Demonstrate the use of rounded corners for borders (CSS)
    */
  border: 2px solid black;
  border-radius: 25px;
  background-color: #333;
  font-family: Arial;
  position: inherit;
  /*  Demonstrate fixed, static, or inherited positioning (CSS, note explicit use of one of the three in your CSS and what the impact is on the HTML)
     Inherit is used essentially as insurance, to make sure the navbar stays in its spot no matter what*/
}
.navbar a {
  /*M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML; note it has to include a time aspect, not be immediate)*/
  /* Used to make the buttons on the navbar feel smoother to mouse over*/
  transition: color .5s ease; 
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*M5LO4 Use CSS for pull-down menus (or collapsible/expandable areas) (CSS, note where the menu is on your site and how it behaves)
 Dropdown Menu is used on this site to easily navigate to the various Formats on the website*/

.dropdown {
  float: left;
  overflow: hidden;
  /*M3LO10 Demonstrate an overflow setting (CSS, note explicit use of an overflow setting in your CSS and what the impact is on the HTML)
  Used to make sure that a scroll bar doesnt appear in the dropdown*/
}


.dropdown .dropbtn {
  transition: color .5s ease; 
  font-size: 16px;
  outline: none;
  border:none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;}


.navbar a:hover, .dropdown:hover .dropbtn {
  color: red;
}


.dropdown-content {
  display: none;
  /* Demonstrate absolute positioning (CSS, note use in your CSS and describe what its impact is on the HTML) 
     Used to Position the buttons of the dropdown menu in relation to the dropdown itself*/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  /*Demonstrate relative positioning (CSS, note use in your CSS and describe what its impact is on the HTML)
    Used to keep the Buttons in the position underneath the pictures*/
  position: relative;
  width: 50%;
}

/*M3LO2 Demonstrate floating elements (CSS, note where you have specified a floating element and what its impact is)
  Used to keep the Images on the Left with the text*/
.container img {
  width: 100%;
  height: auto;
  float: left;
}


.container .btn {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-0, -0);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

.container .btn:hover {
  background-color: black;
 
}

.p1 {
  color: #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin: 0 0 24px;
  text-align: right; }

  figure {
    text-align: center;
    width:relative;
    height:relative;
  }

ul {
  color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 32px; 
    text-align: left;
    margin-left: 20px;

}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*M6LO7 Demonstrate how to format a table with CSS. This css is used to make the table easier to spot, and outlined with a box*/
table, td, th {
  color: #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin: 0 0 24px;
  text-align: center; 
  margin-left:auto;
  margin-right:auto;
}
table {
  border: 5px solid black;
}
th {
  border: 1px solid black
}